*.asv
*.mat
*.pyc
*.txt
*.jar
*.log
*.temp
*.iml
*.pkl
*.data
*.lock
*.gz
!*result.txt
.settings
.classpath
.project
.cache
.idea/
~*
log/*
jar/*
data/*
data/
output/
target/
packages/
settings.py
tensorflow_example/models/
tensorflow_example/avazu/train_logs/
*.exe
*/*/cmake-build-debug/
!CMakeLists.txt